body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f1f1f1;
    padding: 20px;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

h1, h2 {
    color: #00ff9c;
}

.producto {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}

button {
    background-color: #00ff9c;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #00cc7a;
}

#carrito p {
    margin: 5px 0;
}


header {
  padding: 15px 30px;
  border-bottom: 1px solid #222;
}

.login {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

#productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.producto {
  background-color: #1a1a1a;
  padding: 15px;
  border-radius: 8px;
}



#carrito {
  background-color: #141414;
  padding: 20px;
  border-top: 1px solid #222;
}

#seccion-carrito {
  padding: 20px;
}

.total {
  font-size: 20px;
  font-weight: bold;
  color: #2dff9c;
}